.image_contaner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.image_contaner img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image_contaner img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}